<div class="mdl-grid">
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"
         style="width: 100%; margin-bottom: 10px;">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Artist</th>
      <th>Year</th>
      <th>Record Type</th>
      <th>Songs</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {{#each albums}}
      <tr data-id="{{id}}" data-name="{{name}}" data-artist-id="{{artist.id}}" data-year="{{year}}"
          data-record-type-id="{{record_type.id}}">
        <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
        <td>{{artist.name}}</td>
        <td>{{year}}</td>
        <td>{{record_type.name}}</td>
        <td><a href="/songs/album/{{id}}"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Songs</a></td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btnEdit">Edit</button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored btnNew">New
      Album
    </button>
    <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent invisible btnDelete">
      Delete
    </button>
  </div>
</div>


<dialog class="mdl-dialog diaAlbum">
  <h4 class="mdl-dialog__title">New Album</h4>
  <form action="albums" method="post">
    <div class="mdl-dialog__content">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="name" id="name">
        <label class="mdl-textfield__label" for="name">Name</label>
      </div>

      <div class="mdl-select mdl-js-select mdl-select--floating-label">
        <select class="mdl-select__input" id="artist" name="artist">
          <option value=""></option>
          {{#each artists}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <label class="mdl-select__label" for="artist">Artist</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="number" name="year" id="year">
        <label class="mdl-textfield__label" for="year">Year</label>
      </div>

      <div class="mdl-select mdl-js-select mdl-select--floating-label">
        <select class="mdl-select__input" id="record_type" name="record_type">
          <option value=""></option>
          {{#each record_types}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <label class="mdl-select__label" for="record_type">Record Type</label>
      </div>

    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button">OK</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </form>
</dialog>

<dialog class="mdl-dialog diaEdit">
  <h4 class="mdl-dialog__title">Edit Album</h4>
  <form action="albums/update" method="POST">
    <input type="number" class="invisible" id="txtAlbumId" name="albumId">

    <div class="mdl-dialog__content">

      <div class="mdl-js-textfield">
        <label for="albumName">Name</label>
        <input class="mdl-textfield__input" type="text" name="albumName" id="txtName">
      </div>

      <div class="mdl-select mdl-js-select">
        <label for="artistId">Artist</label>
        <select class="mdl-select__input" id="slcArtist" name="artistId">
          <option value=""></option>
          {{#each artists}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <label for="year">Year</label>
        <input class="mdl-textfield__input" type="number" name="year" id="txtYear">
      </div>

      <div class="mdl-select mdl-js-select">
        <label for="recordTypeId">Record Type</label>
        <select class="mdl-select__input" id="slcRecordType" name="recordTypeId">
          <option value=""></option>
          {{#each record_types}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button" id="btnUpdate">Update</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </form>
</dialog>
<script>

  // delete album
  $('.btnDelete').click(function () {

    var selected = [];
    $('input:checked').each(function () {
      selected.push($(this).parents('tr').data('id'));
    });

    $.ajax({
      url: '/albums',
      type: 'DELETE',
      data: {ids: selected.join(', ')},
      success: function (result) {
        if (typeof result.redirect === 'string')
          window.location = result.redirect
      },
      error: function (result) {
        if (typeof result.redirect === 'string')
          window.location = result.redirect
      }
    });
  });

  // edit album
  $('.btnEdit').click(function () {
    var dialogEdit = document.querySelector('dialog.diaEdit');
    var parentData = $(this).parents('tr');

    $('#txtAlbumId').val(parentData.data('id'));
    $('#txtName').val(parentData.data('name'));
    $('#slcArtist').val(parentData.data('artistId'));
    $('#txtYear').val(parentData.data('year'));
    $('#slcRecordType').val(parentData.data('recordTypeId'));

    dialogEdit.showModal();
  });

  // new album modal
  var dialog = document.querySelector('dialog.diaAlbum');
  var showDialogButton = document.querySelector('.btnNew');
  if (dialog && !dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showDialogButton.addEventListener('click', function () {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function () {
    dialog.close();
  });

</script>

