<div class="mdl-grid">

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"
         style="width: 100%; margin-bottom: 10px;">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Albums</th>
      <th>Songs</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {{#each artists}}
      <tr data-id="{{id}}" data-name="{{name}}" data-bio="{{bio}}">
        <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
        <td>
          <a href="/albums/artist/{{id}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Albums</a>
        </td>
        <td>
          <a href="/songs/artist/{{id}}"
             class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Songs</a>
        </td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btnEdit">Edit</button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored btnNew">New
      Artist
    </button>
    <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent invisible btnDelete">
      Delete
    </button>
  </div>

  <dialog class="mdl-dialog diaArtist">
    <h4 class="mdl-dialog__title">New Artist</h4>
    <form action="artists" method="post">
      <div class="mdl-dialog__content">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="name" id="name">
          <label class="mdl-textfield__label" for="name">Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows="3" name="bio" id="bio"></textarea>
          <label class="mdl-textfield__label" for="bio">Bio</label>
        </div>
      </div>
      <div class="mdl-dialog__actions">
        <button type="submit" class="mdl-button">OK</button>
        <button type="button" class="mdl-button close">Cancel</button>
      </div>
    </form>
  </dialog>

  <dialog class="mdl-dialog diaEdit">
    <h4 class="mdl-dialog__title">Edit Record Type</h4>
    <form action="artists/update" method="POST">
      <input type="number" class="invisible" id="txtArtistId" name="artistId">

      <div class="mdl-dialog__content">

        <div class="mdl-js-textfield">
          <label for="artistName">Name</label>
          <input class="mdl-textfield__input" type="text" name="artistName" id="txtName">
        </div>

        <div class="mdl-js-textfield">
          <label for="artistBio">Bio</label>
          <input class="mdl-textfield__input" type="text" name="artistBio" id="txtBio">
        </div>

      </div>
      <div class="mdl-dialog__actions">
        <button type="submit" class="mdl-button" id="btnUpdate">Update</button>
        <button type="button" class="mdl-button close">Cancel</button>
      </div>
    </form>
  </dialog>

</div>


<script>
  // delete artist
  $('.btnDelete').click(function () {
    var selected = [];
    $('input:checked').each(function () {
      selected.push($(this).data('id'));
    });
    $.ajax({
      url: '/artists',
      type: 'DELETE',
      data: {ids: selected.join(', ')},
      success: function (result) {
        if (typeof result.redirect === 'string')
          window.location = result.redirect
      },
      error: function (result) {
        if (typeof result.redirect === 'string')
          window.location = result.redirect
      }
    });
  });

  // edit artist
  $('.btnEdit').click(function () {
    var dialogEdit = document.querySelector('dialog.diaEdit');
    var parentData = $(this).parents('tr');

    $('#txtArtistId').val(parentData.data('id'));
    $('#txtName').val(parentData.data('name'));
    $('#txtBio').val(parentData.data('bio'));

    dialogEdit.showModal();
  });

  // new artist
  var dialog = document.querySelector('dialog.diaArtist');
  var showDialogButton = document.querySelector('.btnNew');
  if (dialog && !dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showDialogButton.addEventListener('click', function () {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function () {
    dialog.close();
  });

</script>