<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>{{title}}</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/android-desktop.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script>if (typeof module === 'object') {
    window.module = module;
    module = undefined;
  }</script>
  <script src="/bower_components/material-design-lite/material.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script>if (window.module) module = window.module;</script>
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{title}}</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item btnAbout">About</li>
        <li class="mdl-menu__item btnContact">Contact</li>
      </ul>
    </div>
  </header>
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link" href="/">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home
      </a>
      <a class="mdl-navigation__link" href="/albums">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">library_music</i>Albums
      </a>
      <a class="mdl-navigation__link" href="/songs">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">music_note</i>Songs
      </a>
      <a class="mdl-navigation__link" href="/artists">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">face</i>Artists
      </a>
      <a class="mdl-navigation__link" href="/genres">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">hearing</i>Genres
      </a>
      <a class="mdl-navigation__link" href="/record_types">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">album</i>Record Types
      </a>
      <a class="mdl-navigation__link" href="/sql_queries">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>SQL Queries
      </a>
    </nav>

    <dialog class="mdl-dialog diaAbout">
      <h4 class="mdl-dialog__title">Music Library</h4>
      <div class="mdl-dialog__content">
        <p>
          This is a basic music library application allowing user to keep their albums organized.
        </p>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Close</button>
      </div>
    </dialog>


    <dialog class="mdl-dialog diaContact">
      <h4 class="mdl-dialog__title">Contact</h4>
      <div class="mdl-dialog__content">
        A. Gökçe Yücel
        <p>gkcycl@gmail.com</p>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Close</button>
      </div>
    </dialog>


  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    {{{ body }}}
  </main>
</div>
<script>

  var dialogAbout = document.querySelector('dialog.diaAbout');
  var showDialogAboutButton = document.querySelector('.btnAbout');
  if (dialogAbout && !dialogAbout.showModal) {
    dialogPolyfill.registerDialog(dialogAbout);
  }
  showDialogAboutButton.addEventListener('click', function () {
    dialogAbout.showModal();
  });
  dialogAbout.querySelector('.close').addEventListener('click', function () {
    dialogAbout.close();
  });

  var dialogContact = document.querySelector('dialog.diaContact');
  var showDialogContactButton = document.querySelector('.btnContact');
  if (dialogContact && !dialogContact.showModal) {
    dialogPolyfill.registerDialog(dialogContact);
  }
  showDialogContactButton.addEventListener('click', function () {
    dialogContact.showModal();
  });
  dialogContact.querySelector('.close').addEventListener('click', function () {
    dialogContact.close();
  });

  // search handler
  $('#search').keydown(function (e) {
    if (!e) e = window.event;
    var keyCode = e.keyCode || e.which;
    if (keyCode == '13') {
      // Enter pressed
      e.preventDefault();
      var query = $(this).val();
      window.location.replace('/{{route}}?q=' + query);
      return false;
    }
  });

</script>
</body>
</html>