<div class="mdl-grid">
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"
         style="width: 100%; margin-bottom: 10px;">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Record Type</th>
      <th>Albums</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {{#each record_types}}
      <tr data-id="{{id}}" data-name="{{name}}">
        <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
        <td>
          <a href="/albums/record_type" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Albums</a>
        </td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btnEdit">Edit</button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored btnNew">New Record Type</button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent invisible btnDelete">Delete</button>
  </div>
</div>

<dialog class="mdl-dialog diaRecord">
  <h4 class="mdl-dialog__title">New Record Type</h4>
  <form action="record_types" method="post">
    <div class="mdl-dialog__content">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="name">
        <label class="mdl-textfield__label" for="sample3">Name</label>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button">OK</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </form>
</dialog>

<dialog class="mdl-dialog diaEdit">
  <h4 class="mdl-dialog__title">Edit Record Type</h4>
  <form action="record_types/update" method="POST">
    <input type="number" class="invisible" id="txtRecordTypeId" name="recordTypeId">

    <div class="mdl-dialog__content">

      <div class="mdl-js-textfield">
        <label for="genreName">Name</label>
        <input class="mdl-textfield__input" type="text" name="recordTypeName" id="txtName">
      </div>

    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button" id="btnUpdate">Update</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </form>
</dialog>

<script>

  // delete record type
  $('.btnDelete').click(function () {
    var selected = [];
    $('input:checked').each(function () {
      selected.push($(this).parents('tr').data('id'));
    });
    $.ajax({
      url: '/record_types',
      type: 'DELETE',
      data: {ids: selected.join(', ')},
      success: function (result) {
        if (typeof result.redirect === 'string')
          window.location = result.redirect
      },
      error: function (result) {
        if (typeof result.redirect === 'string')
          window.location = result.redirect
      }
    });
  });

  // edit record type
  $('.btnEdit').click(function () {
    var dialogEdit = document.querySelector('dialog.diaEdit');
    var parentData = $(this).parents('tr');

    $('#txtRecordTypeId').val(parentData.data('id'));
    $('#txtName').val(parentData.data('name'));

    dialogEdit.showModal();
  });

  // new record type
  var dialog = document.querySelector('dialog.diaRecord');
  var showDialogButton = document.querySelector('.btnNew');
  if (dialog && !dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showDialogButton.addEventListener('click', function () {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function () {
    dialog.close();
  });

</script>