<div class="mdl-grid">

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"
         style="width: 100%; margin-bottom: 10px;">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Play Time</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {{#each songs}}
      <tr data-id="{{id}}" data-name="{{name}}" data-artist-id="{{artist.id}}" data-album-id="{{album.id}}"
          data-genre-id="{{genre.id}}" data-year="{{year}}" data-play-time="{{play_time}}">
        <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
        <td>{{artist.name}}</td>
        <td>{{album.name}}</td>
        <td>{{genre.name}}</td>
        <td>{{year}}</td>
        <td>{{play_time}}</td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btnEdit">Edit</button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored btnNew">New
      Song
    </button>
    <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent invisible btnDelete">
      Delete
    </button>
  </div>
</div>

<dialog class="mdl-dialog diaSong">
  <h4 class="mdl-dialog__title">New Song</h4>
  <form action="songs" method="post">

    <div class="mdl-dialog__content">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="name" id="name">
        <label class="mdl-textfield__label" for="name">Name</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="number" name="play_time" id="play_time">
        <label class="mdl-textfield__label" for="play_time">Play Time</label>
      </div>

      <div class="mdl-select mdl-js-select mdl-select--floating-label">
        <select class="mdl-select__input" id="artist" name="artist">
          <option value=""></option>
          {{#each artists}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <label class="mdl-select__label" for="artist">Artist</label>
      </div>

      <div class="mdl-select mdl-js-select mdl-select--floating-label">
        <select class="mdl-select__input" id="album" name="album">
          <option value=""></option>
          {{#each albums}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <label class="mdl-select__label" for="album">Album</label>
      </div>


      <div class="mdl-select mdl-js-select mdl-select--floating-label">
        <select class="mdl-select__input" id="genre" name="genre">
          <option value=""></option>
          {{#each genres}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <label class="mdl-select__label" for="genre">Genre</label>
      </div>


      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="number" name="year" id="year">
        <label class="mdl-textfield__label" for="year">Year</label>
      </div>
    </div>


    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button">OK</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </form>
</dialog>

<dialog class="mdl-dialog diaEdit">
  <h4 class="mdl-dialog__title">Edit Song</h4>
  <form action="songs/update" method="POST">
    <input type="number" class="invisible" id="txtSongId" name="songId">

    <div class="mdl-dialog__content">

      <div class="mdl-js-textfield">
        <label for="albumName">Name</label>
        <input class="mdl-textfield__input" type="text" name="songName" id="txtName">
      </div>

      <div class="mdl-js-textfield">
        <label for="playTime">Play Time</label>
        <input class="mdl-textfield__input" type="number" name="playTime" id="txtPlayTime">
      </div>

      <div class="mdl-select mdl-js-select">
        <label for="artistId">Artist</label>
        <select class="mdl-select__input" id="slcArtist" name="artistId">
          <option value=""></option>
          {{#each artists}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mdl-select mdl-js-select">
        <label for="albumId">Album</label>
        <select class="mdl-select__input" id="slcAlbum" name="albumId">
          <option value=""></option>
          {{#each albums}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mdl-select mdl-js-select">
        <label for="genreId">Genre</label>
        <select class="mdl-select__input" id="slcGenre" name="genreId">
          <option value=""></option>
          {{#each genres}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <label for="year">Year</label>
        <input class="mdl-textfield__input" type="number" name="year" id="txtYear">
      </div>

    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button" id="btnUpdate">Update</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </form>
</dialog>
<script>
  // delete song
  $('.btnDelete').click(function () {
    var selected = [];
    $('input:checked').each(function () {
      selected.push($(this).parents('tr').data('id'));
    });

    $.ajax({
      url: '/songs',
      type: 'DELETE',
      data: {ids: selected.join(', ')},
      success: function (result) {
        if (typeof result.redirect === 'string')
          window.location = result.redirect
      },
      error: function (result) {
        if (typeof result.redirect === 'string')
          window.location = result.redirect
      }
    });
  });

  // edit song
  $('.btnEdit').click(function () {
    var dialogEdit = document.querySelector('dialog.diaEdit');
    var parentData = $(this).parents('tr');

    $('#txtSongId').val(parentData.data('id'));
    $('#txtName').val(parentData.data('name'));
    $('#txtPlayTime').val(parentData.data('playTime'));
    $('#slcArtist').val(parentData.data('artistId'));
    $('#slcAlbum').val(parentData.data('albumId'));
    $('#slcGenre').val(parentData.data('genreId'));
    $('#txtYear').val(parentData.data('year'));

    dialogEdit.showModal();
  });


  // new song
  var dialog = document.querySelector('dialog.diaSong');
  var showDialogButton = document.querySelector('.btnNew');
  if (dialog && !dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showDialogButton.addEventListener('click', function () {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function () {
    dialog.close();
  });

</script>

