<div class="android-be-together-section mdl-typography--text-center" style="margin-top: 50px;">
  <!--<form action="#">-->
  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">
    <textarea class="mdl-textfield__input" type="text" rows="6" id="txtQuery" name="query"
              style="width: 100%;"></textarea>
    <label class="mdl-textfield__label" for="query">Your query here...</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btnQuery">Run</button>
  <!--</form>-->
</div>

<div class="android-be-together-section mdl-typography--text-center" style="margin-top: 50px;">
  <div id="txtResult" class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">

  </div>
</div>

<script>
  $('.btnQuery').click(function () {

    var query = $('#txtQuery').val();
    var resultDiv = $('#txtResult');
    resultDiv.html('');

    $.ajax({
      url: '/sql_queries',
      type: 'POST',
      data: {query: query},
      success: function (response) {
        if (response.err) {

          resultDiv.append(document.createTextNode('An error has occurred!'));
          resultDiv.append('<br>');
          resultDiv.append(document.createTextNode(JSON.stringify(response.err)));

        } else {

          var arr = response.result;

          for (var i = 0; i < arr.length; i++) {
            var obj = arr[i];
            for (var key in obj) {
              var attrName = key;
              var attrValue = obj[key];
              console.log(attrName + ':' + attrValue);
              resultDiv.append(document.createTextNode(attrName + ':' + attrValue));
              resultDiv.append('<br>');
            }
            resultDiv.append('<br>');
          }
        }
      },
      error: function (result) {
        resultDiv.append(document.createTextNode('An unknown error has occurred!'));
      }
    });
  });
</script>